[modal-template] {
  display: none;
}
.arcticmodal-overlay,
.arcticmodal-container {
  transform: translateZ(0);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1500;
}
.arcticmodal-container {
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  border: 0;
  border-collapse: collapse;
}
*:first-child + html .arcticmodal-container {
  height: 100%;
}
.arcticmodal-container_i {
  height: 100%;
  margin: 0 auto;
}
.arcticmodal-overlay {
  background-color: rgba(0,0,0,0.5) !important;
  opacity: 1 !important;
}
.modal-content {
  border: 1px solid rgba(0,0,0,0.4);
}
.modal-header {
  box-shadow: 0 3px 1px rgba(0,0,0,0.1);
  position: relative;
  z-index: 1;
  background: #337ab7;
  color: #fff;
  border-bottom-color: #296292;
}
.modal-header .close {
  font-size: 25px;
  opacity: 0.3;
}
.modal-header .close:hover {
  opacity: 0.6;
}
.modal-title {
  font-size: 15px;
}
.modal-body {
  background: #f5f5f5;
}
.modal-footer {
  text-align: left;
  box-shadow: 0 -3px 1px rgba(0,0,0,0.02);
  position: relative;
}
.btn-group,
.btn-group-vertical {
  white-space: nowrap;
}
.btn-group > .btn,
.btn-group-vertical > .btn {
  float: none;
  display: inline-block;
}
body {
  padding-top: 50px;
}
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.navbar-fixed-top {
  border: 0;
}
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}
.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}
