[modal-template] {
  display: none;
}
.arcticmodal-overlay,
.arcticmodal-container {
  transform: translateZ(0);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1031;
}
.arcticmodal-container {
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  border: 0;
  border-collapse: collapse;
}
*:first-child + html .arcticmodal-container {
  height: 100%;
}
.arcticmodal-container_i {
  height: 100%;
  margin: 0 auto;
}
.arcticmodal-container_i2 {
  vertical-align: top;
}
.arcticmodal-overlay {
  background-color: rgba(0,0,0,0.5) !important;
  opacity: 1 !important;
}
.modal-content {
  border: 1px solid rgba(0,0,0,0.4);
}
.modal-header {
  box-shadow: 0 3px 1px rgba(0,0,0,0.1);
  position: relative;
  z-index: 1;
  background: #337ab7;
  color: #fff;
  border-bottom-color: #296292;
}
.modal-header .close {
  font-size: 25px;
  opacity: 0.3;
}
.modal-header .close:hover {
  opacity: 0.6;
}
.modal-title {
  font-size: 15px;
}
.modal-footer {
  text-align: left;
  box-shadow: 0 -3px 1px rgba(0,0,0,0.02);
  position: relative;
  background: #fff;
}
.modal-footer[style] {
  box-shadow: 0 -3px 10px rgba(0,0,0,0.1);
}
.arcticmodal-container + .arcticmodal-overlay + .arcticmodal-container .modal-dialog {
  padding: 0 15px;
  margin-top: 70px;
}
.arcticmodal-container + .arcticmodal-overlay + .arcticmodal-container + .arcticmodal-overlay + .arcticmodal-container .modal-dialog {
  padding: 0 30px;
  margin-top: 110px;
}
.arcticmodal-container + .arcticmodal-overlay + .arcticmodal-container + .arcticmodal-overlay + .arcticmodal-container + .arcticmodal-overlay + .arcticmodal-container .modal-dialog {
  padding: 0 45px;
  margin-top: 150px;
}
.arcticmodal-container + .arcticmodal-overlay + .arcticmodal-container + .arcticmodal-overlay + .arcticmodal-container + .arcticmodal-overlay + .arcticmodal-container + .arcticmodal-overlay + .arcticmodal-container .modal-dialog {
  padding: 0 60px;
  margin-top: 190px;
}
.arcticmodal-container + .arcticmodal-overlay + .arcticmodal-container + .arcticmodal-overlay + .arcticmodal-container + .arcticmodal-overlay + .arcticmodal-container + .arcticmodal-overlay + .arcticmodal-container + .arcticmodal-overlay + .arcticmodal-container .modal-dialog {
  padding: 0 75px;
  margin-top: 230px;
}
.arcticmodal-container + .arcticmodal-overlay + .arcticmodal-container + .arcticmodal-overlay + .arcticmodal-container + .arcticmodal-overlay + .arcticmodal-container + .arcticmodal-overlay + .arcticmodal-container + .arcticmodal-overlay + .arcticmodal-container + .arcticmodal-overlay + .arcticmodal-container .modal-dialog {
  padding: 0 90px;
  margin-top: 270px;
}
.arcticmodal-container + .arcticmodal-overlay + .arcticmodal-container + .arcticmodal-overlay + .arcticmodal-container + .arcticmodal-overlay + .arcticmodal-container + .arcticmodal-overlay + .arcticmodal-container + .arcticmodal-overlay + .arcticmodal-container + .arcticmodal-overlay + .arcticmodal-container + .arcticmodal-overlay + .arcticmodal-container .modal-dialog {
  padding: 0 105px;
  margin-top: 310px;
}
.arcticmodal-container + .arcticmodal-overlay + .arcticmodal-container + .arcticmodal-overlay + .arcticmodal-container + .arcticmodal-overlay + .arcticmodal-container + .arcticmodal-overlay + .arcticmodal-container + .arcticmodal-overlay + .arcticmodal-container + .arcticmodal-overlay + .arcticmodal-container + .arcticmodal-overlay + .arcticmodal-container + .arcticmodal-overlay + .arcticmodal-container .modal-dialog {
  padding: 0 120px;
  margin-top: 350px;
}
.arcticmodal-container + .arcticmodal-overlay + .arcticmodal-container + .arcticmodal-overlay + .arcticmodal-container + .arcticmodal-overlay + .arcticmodal-container + .arcticmodal-overlay + .arcticmodal-container + .arcticmodal-overlay + .arcticmodal-container + .arcticmodal-overlay + .arcticmodal-container + .arcticmodal-overlay + .arcticmodal-container + .arcticmodal-overlay + .arcticmodal-container + .arcticmodal-overlay + .arcticmodal-container .modal-dialog {
  padding: 0 135px;
  margin-top: 390px;
}
.mce-panel {
  border-color: #ccc !important;
}
.btn-group,
.btn-group-vertical {
  white-space: nowrap;
}
.btn-group > .btn,
.btn-group-vertical > .btn {
  float: none;
  display: inline-block;
}
.control-label-notice {
  font-size: 0.85em;
  font-weight: normal;
  color: #999;
  margin-left: 0.75em;
}
.table-row-visible:not(.mod-visible) {
  opacity: 0.3;
}
.icon {
  margin-right: 4px;
}
.table thead th {
  font-size: 0.85em;
  font-weight: normal;
  color: #999;
}
.list-controls {
  display: flex;
}
.list-controls-level {
  flex: 0 0 auto;
}
.list-controls-flex {
  flex: 0 0 auto;
  cursor: default;
  color: #ddd;
  margin-right: 5px;
  font-size: 0.85em;
  padding: 0.15em 0;
}
.list-controls-flex.has-children {
  cursor: pointer;
  color: #999;
}
.list-controls-flex.has-children:hover {
  color: #666;
}
.list-controls-value {
  flex: 0 1 auto;
}
.list-controls-sort {
  visibility: hidden;
  flex: 0 0 auto;
  margin: 0 5px;
  padding: 0 5px;
  cursor: move;
  color: #ccc;
}
.list-controls-sort:hover,
.table tr.move .list-controls-sort {
  color: #666;
}
.table:not(.sorting) tr:hover .list-controls-sort,
.table:not(.sorting-send) tr.sorting .list-controls-sort {
  visibility: visible;
}
.list-controls-options {
  flex: 1 0 auto;
  visibility: hidden;
}
.table:not(.sorting) tr:hover .list-controls-options {
  visibility: visible;
}
.table tbody tr.nodrop {
  opacity: 0.3;
}
.list-pagination > td {
  line-height: 1 !important;
  padding-top: 7px !important;
  padding-bottom: 6px !important;
}
.list-pagination .pagination {
  margin: 0;
}
.list-pagination .pagination > li > a,
.list-pagination .pagination > li > span {
  font-size: 10px;
  line-height: 1;
  padding: 2px 5px;
  cursor: pointer;
}
.list-pagination .pagination > li.active > a,
.list-pagination .pagination > li.active > span {
  background: #bbb;
  border-color: #aaa;
}
body {
  padding-top: 50px;
}
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.navbar-fixed-top {
  border: 0;
}
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 500;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}
.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}
