$block-width = 997px
$block-padding = 10px
$footer-height = 360px
$header-height = 118px

$text-font-size = 13px

$font-ops = 'Open Sans'
$font-pn = 'Proxima Nova'
$font-rouble = 'ALSRublRegular'



$font-main = $font-ops
$font-title = $font-pn

$color-lgrey = #f3f3f3
$color-grey = #d0d0d0
$color-dgrey = #999
$color-lblue = #CDD6F5
$color-blue = #5976dd
$color-pink = #df5890
$color-red = #f90c5f
$color-lred = lighten($color-red, 80%)
$color-yellow = #ffcc00
$color-green = #25B67A
$color-lgreen = lighten($color-green, 80%)
$color-violet = #8e59dd

$color-inst = #3f729b
$color-tw = #55acee
$color-fb = #3b5998
$color-ok = #ed812b
$color-vk = #45668e
$color-yt = #cd201f

$color-main = #2d242e
$color-link = $color-blue




image-sprite(filename) {
   path = '../images/' + filename
   size = image-size(path)
   background url(unquote(path))
   width size[0]
   height size[1]
}


@import 'phast/layout'
//@import 'modules/*'
