// Open Sans
include-font('Open Sans', OpenSans-Regular-webfont)
include-font('Open Sans', OpenSans-Italic-webfont, 400, italic)
include-font('Open Sans', OpenSans-Bold-webfont, 700)
include-font('Open Sans', OpenSans-BoldItalic-webfont, 700, italic)
include-font('Open Sans', OpenSans-Light-webfont, 300)
include-font('Open Sans', OpenSans-LightItalic-webfont, 300, italic)
include-font('Open Sans', OpenSans-Semibold-webfont, 600)

// Proxima Nova
include-font('Proxima Nova', proxima_nova_regular)
include-font('Proxima Nova', proxima_nova_regular_italic, 400, italic)
include-font('Proxima Nova', 'ProximaNova-Bold', 700)
include-font('Proxima Nova', proxima_nova_bold_italic, 700, italic)
include-font('Proxima Nova', 'hinted-ProximaNova-Semibold', 600)
include-font('Proxima Nova', proxima_nova_light, 300)
include-font('Proxima Nova', proxima_nova_light_italic, 300, italic)

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
   font-family: 'Open Sans';
}

.btn-group,
.btn-group-vertical{
   white-space nowrap

   & > .btn{
      float none
      display inline-block
   }
}


.nav-tabs{
   //margin-bottom 15px
}