include-font('Proxima Nova', proxima_nova_regular)
include-font('Proxima Nova', proxima_nova_regular_italic, 400, italic)
include-font('Proxima Nova', 'ProximaNova-Bold', 700)
include-font('Proxima Nova', proxima_nova_bold_italic, 700, italic)
include-font('Proxima Nova', 'hinted-ProximaNova-Semibold', 600)
include-font('Proxima Nova', proxima_nova_light, 300)
include-font('Proxima Nova', proxima_nova_light_italic, 300, italic)



.mce-panel{
   border-color #ccc !important
}

.btn-group,
.btn-group-vertical{
   white-space nowrap

   & > .btn{
      float none
      display inline-block
   }
}

.control-label-notice{
   font-size .85em
   font-weight normal
   color #999
   margin-left .75em
}

.table-row-visible{

   &:not(.mod-visible){
      opacity .3
   }
}

.icon{
   margin-right 5px
}