include-font(font-name, file-name, font-weight = normal, font-style = normal, local = false) {
   @font-face {
      font-family font-name
      src url('../fonts/'+file-name+'.woff') format('woff')
      font-weight font-weight
      font-style font-style
   }
}

include-font('Noto Sans', 'NotoSans', normal, normal)
include-font('Noto Sans', 'NotoSans-Bold', bold, normal)
include-font('Noto Sans', 'NotoSans-Italic', normal, italic)
include-font('Noto Sans', 'NotoSans-BoldItalic', bold, italic)

include-font('Noto Serif', 'NotoSerif', normal, normal)
include-font('Noto Serif', 'NotoSerif-Bold', bold, normal)
include-font('Noto Serif', 'NotoSerif-Italic', normal, italic)
include-font('Noto Serif', 'NotoSerif-BoldItalic', bold, italic)

.mce-panel{
   border-color #ccc !important
}

.btn-group,
.btn-group-vertical{
   white-space nowrap

   & > .btn{
      float none
      display inline-block
   }
}

.control-label-notice{
   font-size .85em
   font-weight normal
   color #999
   margin-left .75em
   display inline-block

   .checkbox{
      margin 0 0 0 10px
      display inline-block

      input{
         margin-top 1px
      }
   }
}

.table-row-visible{

   &:not(.mod-visible){
      opacity .3
   }
}

.icon{
   margin-right 4px
}

.table thead th{
   font-size .85em
   font-weight normal
   color #999
}
.form-group {
   position relative
}