.list-controls{
   display flex

   &-level{
      flex 0 0 auto
   }

   &-flex{
      flex 0 0 auto
      cursor default
      color #ddd
      margin-right 5px
      font-size .85em
      padding .15em 0


      &.has-children{
         cursor pointer
         color #999

         &:hover{
            color #666
         }
      }


   }

   &-value{
      flex 0 1 auto
   }

   &-sort{
      visibility hidden
      flex 0 0 auto
      margin 0 5px
      padding 0 5px
      cursor move
      color #ccc

      &:hover, .table tr.move & {
         color #666
      }

      /.table:not(.sorting) tr:hover &, /.table:not(.sorting-send) tr.sorting & {
         visibility visible
      }



   }

   &-options{
      flex 1 0 auto
      visibility hidden

      /.table:not(.sorting) tr:hover & {
         visibility visible
      }
   }

}


.table tbody tr.nodrop{
   opacity .3


}

.list-pagination{

   & > td{
      line-height 1 !important
      padding-top 7px !important
      padding-bottom 6px !important
   }

   .pagination{
      margin 0

      & > li > a, & > li > span {
         font-size 10px
         line-height 1
         padding 2px 5px
         cursor pointer
      }

      & > li.active > a, & > li.active > span {
         background #bbb
         border-color #aaa
      }
   }
}