.list-controls{
   display flex

   &-level{
      flex 0 0 auto
   }

   &-flex{
      flex 0 0 auto
   }

   &-value{
      flex 0 1 auto
   }

   &-sort{
      visibility hidden
      flex 0 0 auto
      margin 0 5px
      padding 0 5px
      cursor move
      color #ccc

      &:hover, .table tr.move & {
         color #666
      }

      /.table:not(.sorting) tr:hover &, /.table:not(.sorting-send) tr.sorting & {
         visibility visible
      }



   }

   &-options{
      flex 1 0 auto
      visibility hidden

      /.table:not(.sorting) tr:hover & {
         visibility visible
      }
   }

}


.table tbody tr.nodrop{
   opacity .3


}