.list-controls{
   display flex

   &-level{
      flex 0 0 auto
   }

   &-flex{
      flex 0 0 auto
      cursor default
      color #ddd
      margin-right 5px
      font-size .85em
      padding .15em 0


      &.has-children{
         cursor pointer
         color #999

         &:hover{
            color #666
         }
      }


   }

   &-value{
      flex 0 1 auto
   }

   &-sort{
      visibility hidden
      flex 0 0 auto
      margin 0 5px
      padding 0 5px
      cursor move
      color #ccc

      &:hover, .table tr.move & {
         color #666
      }

      /.table:not(.sorting) tr:hover &, /.table:not(.sorting-send) tr.sorting & {
         visibility visible
      }



   }

   &-options{
      flex 1 0 auto
      visibility hidden

      /.table:not(.sorting) tr:hover & {
         visibility visible
      }
   }

}


.table tbody tr.nodrop{
   opacity .3
}

.list-pagination{

   & > td{
      line-height 1 !important
      padding-top 7px !important
      padding-bottom 6px !important
   }

   .pagination{
      margin 0

      & > li > a, & > li > span {
         font-size 10px
         line-height 1
         padding 2px 5px
         cursor pointer
      }

      & > li.active > a, & > li.active > span {
         background #bbb
         border-color #aaa
      }
   }
}

.component-editor .panel-heading{
   padding 10px
}

.component-editor .component-table{
   .panel-body{
      padding 0

      .component-table-empty{
         padding 15px
      }

      .table{
         margin 0


      }
   }
}
.component-table .modal-body{
   .panel-body{

      .table{
         margin 0


      }
   }
}

.component-table{
   .table{
      tbody tr:last-child td {
         border-bottom none
      }

      tbody tr:first-child td{
         border-top none
      }
   }
}

.loading{
   padding 15px
   font-size 2em

   i{
      transform-origin 50% 50%
   }

   &:after{
      content 'Загрузка'
      padding-left 10px
   }

   /.modal-dialog > .component > & {
      position absolute
      top 50%
      left 50%
      color rgba(white, .1)
      font-size 20em
      transform translate(-50%,0)

      i{
         transform-origin 50% 49%
      }

      &:after{
         content ''
         padding-left 0
      }
   }

   /.component-editor .component & {
      border 1px solid #ddd
      border-radius 3px


   }
}