.page{
   $base-color = #222d32


   &-wrapper{
      display flex
   }

   &-sidebar{

      font-size 11px
      min-height 100vh
      flex 0 0 auto
      background $base-color
      width 100px

      .nav-sidebar{
         border-bottom 1px solid lighten($base-color, 10%)
         & > li {

            &:hover{
               background lighten($base-color, 5%)
            }

            &.active{
               background darken($base-color, 30%)
            }

            & > a{
               position relative
               text-align center
               color lighten($base-color, 70%)
               border-top 1px solid lighten($base-color, 10%)
               border-bottom 1px solid darken($base-color, 30%)
               padding 10px 5px

               ../.active > a{
                  border-top-color darken($base-color, 40%)
                  border-bottom 1px solid darken($base-color, 10%)

                  &:after{
                     content ''
                     position absolute
                     left 0
                     right 0
                     top 100%
                     height 2px
                     background rgba(black, .3)
                     z-index 1
                  }
               }


               &:hover,
               &:focus{
                  background none
               }

               i{
                  font-size 1.75em
                  display block
                  margin-bottom .15em

                  img{
                     max-width 50px
                  }
               }



            }
         }
      }
   }

   &-content{
      flex 1 1 auto

      &-header{
         background lighten($base-color, 90%)
         padding 15px 30px

         h1{
            margin 0
            font-size 18px
         }

      }

      &-module{
         & > div > .panel{
            border 0
            box-shadow none
         }
      }
   }

}

.panel .table{
   //margin -15px 0 0 0
   border 0
   td, th{
      &:first-child{
         border-left 0
      }
      &:last-child{
         border-right 0
      }
   }

   th{
      border-left none
      border-right none
      border-bottom-width 1px
   }
}

.panel:last-child{
   margin-bottom 0
}

   /*

.nav-sidebar {
   margin-right: -21px;
   margin-bottom: 20px;
   margin-left: -20px;
}
.nav-sidebar > li > a {
   padding-right: 20px;
   padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
   color: #fff;
   background: #1e282c none repeat scroll 0 0;
   border-left-color: #3c8dbc;
}
   */