<div class="panel panel-default table-responsive" {{ component.height ? ('style="height:' ~ component.height ~ 'px"') | raw }}>
    {% if component.header %}
        <div class="panel-heading">
            {{ component.header | raw }}
        </div>
    {% endif %}

    <div class="panel-body">
        <table class="table table-bordered table-striped table-hover">
            {% if component.columns %}
                <thead>
                <tr>
                    {% for column in component.columns %}
                        <th {{ column.width != 'auto' ? ('style="width:'~column.width~'"') | raw }}>{{ column.value }}</th>
                    {% endfor %}
                </tr>
                </thead>
            {% endif %}
            <tbody></tbody>
        </table>
    </div>


</div>