<div class="panel panel-default table-responsive" {{ component.height ? ('style="height:' ~ component.height ~ 'px"') | raw }}>
    {% if component.header %}
        <div class="panel-heading">
            {{ component.header | raw }}
        </div>
    {% endif %}

    <div class="panel-body">
        <table class="table table-bordered table-striped table-hover">
            {% if component.columns %}
                <thead>
                <tr>
                    {% for column in component.columns %}
                        {% if column == '.' %}
                            <th style="width:1%"></th>
                        {% else %}
                            <th>{{ column }}</th>
                        {% endif %}
                    {% endfor %}
                </tr>
                </thead>
            {% endif %}
            <tbody></tbody>
        </table>
    </div>


</div>