{% for module in admin.getModules %}

    <li {{ module.isActive ? 'class="active"' }}>
        <a href="{{ url('creonit_admin_module', {module: module.getUri}) }}">
            <i class="{{ module.getIcon }}"></i>
            <span>{{ module.getTitle }}</span>
        </a>
    </li>

{% endfor %}